//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 17 22:02:07 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "L1" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "GA" LOCATE = SITE "U3" LEVEL 1;
COMP "GB" LOCATE = SITE "T4" LEVEL 1;
COMP "Y<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "Y<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "A<0>" LOCATE = SITE "W4" LEVEL 1;
COMP "Y<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "A<1>" LOCATE = SITE "V4" LEVEL 1;
COMP "Y<7>" LOCATE = SITE "R1" LEVEL 1;
COMP "A<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "G" LOCATE = SITE "T3" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "J2" LEVEL 1;
SCHEMATIC END;

